.header{
  background-color: var(--blue-300);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 220px 300px;
  position: relative;
  width: 100%;
  overflow: hidden;
 

}

.headerLeft{
  display: flex;
  align-items: center;

  ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: 48px;
    gap: 32px;

    li{
      color: #fff;
      font-size: 14px;
      font-weight: 300;
      cursor: pointer;
      transition: all .2s;

      &:hover{
        color: var(--blue-100);
      }
    }
  }
}

.logo{
  width: 160px;
}

.rightImage{
  position: absolute;
  top: 0;
  right: -90px;
}
.leftImage{
  position: absolute;
  bottom: 0px;
  left: 30px;
  width: 140px;
}

.btn{
  background-color: var(--blue-200);
  border: none;
  display: flex;
  align-items: center;
  border-radius: 8px;
  color: #fff;
  padding: 16px;
  gap: 8px;
  transition: all .2s;

  &:hover{
    opacity: .8;
  }
}