.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  width: 300px;
  background-color: var(--pink);
  z-index: 2;
  color: var(--blue-300);
  padding: 60px;

  @media screen and (max-width: 980px){
    width: 100%;
    height: 240px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
   
  }

  @media screen and (max-width: 450px){
    padding: 20px;     
  }

  p{
    font-weight: 700;

    @media screen and (max-width: 980px){
      display: none;
    }
  }

  h2{
    font-weight: 400;
    font-size: 26px;
  }
}

.middleCard {
  background-color: var(--orange-200);
  color: #fff;
  height: 420px;

  @media screen and (max-width: 980px){
   
    height: 240px;
   
  }

  .description{
    padding-bottom: 20px; 

    @media screen and (max-width: 980px){
      padding-bottom: 0;  
    }
  }
}

.description{
  @media screen and (max-width: 980px){
    display: flex;
    align-items: center;
    
    width: 100%;
    gap: 20px;
  }
}



.img1{
  width: 28px;
  object-fit: contain;
}

.img2{
  width: 28px;
  object-fit: contain;
  display: none;

  @media screen and (max-width: 980px){
    display: block;
  }
}

.rightResp{
  display: none;

  @media screen and (max-width: 980px){
    display: block;
  }

  @media screen and (max-width: 450px){
    display: none;    
  }
}