.productList{
  display: flex;
  color: #fff;
  gap: 20px;

  @media screen and (max-width: 980px){
    flex-direction: column;
  }


  h3{
    width: 200px;
  }
}

.lab{
  display: flex;
  flex-direction: column;
  gap: 20px;

  .labItems{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 300px;
    gap: 20px;

  }
}

